                <!--  ==========  -->
                <!--  = Sidebar =  -->
                <!--  ==========  -->
                <aside class="span4">
                    
                    <!--  ==========  -->
                    <!--  = Opening Times Widget =  -->
                    <!--  ==========  -->
                    <div class="sidebar-item opening-time" id="opening_time-4">
                        <div class="underlined">
                            <h3><span class="light">پنل کاربری</span> </h3>
                        </div>

                        <ul class="nav nav-tabs nav-stacked">
                            <li class="active"><a [routerLink]="['/user','edit']">ویرایش کاربر</a></li>
                            <li><a [routerLink]="['/user','basket']">سبد خرید</a></li>
                            <li><a href="#">Messages</a></li>
                          </ul>

                    </div>
                    

                    
                </aside> <!-- /sidebar -->